.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.left{
  border: 2px solid black;
  margin: 2%;
  padding: 2%;
  width:30%;
  height: 40%;
  border-radius:5%;
}
.left img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  border: 2px solid black;
}
.right{
  border: 2px solid black;
  margin: 2%;
  padding: 2%;
  width:30%;
  height: 40%;
  border-radius: 5%;
}
.right img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  border: 2px solid black;
}
